.contact-h2 {
  color:antiquewhite;
  padding: 20px;
  height: 6vh;
}
#Contact {
    height: fit-content;
    border: solid;
    
    display: block;
    margin-top: 25vh;
    padding: 20px 0;
    font-size: 5vw;
    font-family: papyrus;
    text-align: center;
    background-image: radial-gradient(red, orange, orange, yellow, yellow, green, green, blue, indigo, violet);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .links {
    padding: 10px;
  }
  .links:hover{
    transform: scale(1.05);
    font-weight: bold;
  }
  #email, #resume, #github-profile-link {
    padding-bottom: 0;
  }
  #email{
    color: black;
  }
  #email:hover {
    color: rgb(255, 0, 0);
  }
  #github-profile-link {
    text-decoration: none;
    color: black;
  }
  #github-profile-link:hover {
    color: rgb(255, 0, 149);
  }
@media screen and (max-width:768px) { 
    #Contact{
        height: fit-content;
        padding: 4vh 10px;
        margin: 30vh 0 ;
    }
    .links {
      font-weight: 1000;
        font-size: 5vw;
    }
    #contact-thanks {
      font-size: 4.4vw;
    }
}


