#guru{
    font-size: 6vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 80px;
    margin: 10px;
    text-shadow: 2px 2px 4px black;
    }
#name {
    padding-left: 20px;
    font-size: 6vw;
    padding-top: 0; 
    }

#Home {
    background-image: linear-gradient(blueviolet, purple);
    padding-left: 5vw;
    margin-bottom: 1vh;
    border: solid black 1px;
    display: block;
    height: 100%;
    background-image: linear-gradient(45deg, rgb(34, 32, 32), magenta, orange, black);
    text-align: center;
    }

#name-pic-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    }

#profile-pic{
    position: relative;
    border-radius: 10%;
    border: 2px solid black;
    z-index: 0;
    height: 25vh;
    width: 25vh;
    }

#profile-pic.pic-active{
    height: 28vh;
    width: 28vh;
    margin-right: 12px
    }

#Home h2 {
    color: rgb(101, 14, 160);
    font-family: "Delius", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    text-shadow: 2px 2px 2px rgb(40, 34, 34);
    }
    
#skills {
    color: rgb(38, 10, 114);
    font-size: 4vh;
    padding-left: 3vw; 
    padding-right: 3vw; 
    padding-bottom: 3vh; 
    display: block;
    text-shadow: 1px 1px black;
    }

@media screen and (max-width:768px) {
    #name-pic-cont{
        flex-direction: column;
        align-items: center;
    }
  
    #name{
        font-size: 5vw;
        word-wrap: break-word;
        width: 80%;
        padding: 0;
        margin: 50px;
    }
    #guru {
        font-size: 7vw;
    }
    #name.pic-active{
        /* font-family: Tahoma; */
        font-size: 8vw;
        padding-top: 0;
        margin-top: 20px;
        word-wrap: break-word;
    }
}

@media screen and (max-width:475px) {
    #guru {
        font-size: 8vw;
    }
    #guru.pic-active {
        overflow-wrap: break-word;  
        word-wrap: break-word; 
        word-break: break-word;
    }
    #name{
        font-size: 5vw;
        padding-left: 0;
    }
    #name.pic-active {
        width: 65vw;
        font-size: 6vw;
        margin-top: 0;
    }
    #welcome {
        flex-direction: column;
    }
    .welcome-pics{
        width: 45vw;
        height: auto;
    }
}