nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(62, 19, 101);
    border: 1px solid rgb(100, 32, 163);
    position: fixed;
    top: 0;
    height: 64px;
    width: 100vw;
    z-index: 1;
}

.logo {
    color: rgb(241, 232, 232);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;
}

.nav-links {
    display: flex;
    background-color: rgb(62, 19, 101);
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin-right: 15px;
}
.nav-links li{
    list-style: none;
    width: fit-content;
}
.nav-links a{
    color: rgb(241, 232, 232);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.nav-links a:hover{
    color: blueviolet;   
    text-shadow: 2px 2px black;
    transform: scale(1.2);
    text-transform: uppercase;
}
.burger div{
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: rgb(241, 232, 232);
    transition: all 0.5s ease;
}
.burger{
    display: none;
}

.nav-active{
    transform: translateX(0%);
  }

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(55px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
  }

@media screen and (max-width:1024px){
    
    .nav-links {
        width: 55%; 
        /* margin-right: 10px;   */
        justify-content: center;     
    }
    .logo {
        width: 40%;
        font-size: 16px;
        margin-left: 10px;
    }
}


@media screen and (max-width:768px) { 
    nav {
        justify-content: space-between;
        height: 80px;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 55vh;
        top: 7.8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: blueviolet;
        width: fit-content;
        transform: translate(100%);
        transition: transform 0.5s ease-in;
        border-radius: 2%;
        border: 1px solid rgb(100, 32, 163);
    }
    .nav-links li{
        opacity: 0;
    }
    .burger {
        display: block;
        cursor: pointer;
        margin-right: 20px;
    }
}

