nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: blueviolet;
    border: 1px solid rgb(100, 32, 163);
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}

.nav-links {
    display: flex;
    background-color: blueviolet;
    justify-content: space-around;
    width: 50%;
    margin: 0 10px 0 10px;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: rgb(241, 232, 232);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.nav-links a:hover{
    color: rgb(69, 22, 112);    
    text-transform: uppercase;
}
.burger div{
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: rgb(241, 232, 232);
    transition: all 0.5s ease;
}
.burger{
    display: none;
}