* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px0;
}
html {
  scroll-behavior: smooth;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
section{
  display: block;
  height: 100%;
  width: 95vw;
  text-align: center;
  color: rgb(241, 232, 232);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  border-radius: 20px;
  margin-bottom: 30px;
}
h2 {
  font-size: 3vw;
  font-family: papyrus;
  margin-top: 2vh;
  text-align: center;
  padding-top: 6vh;
}
h3 {
  font-family: "Delius", sans-serif;
  text-transform: none;
  font-size: 14px;
  color: black;
}
p{
  padding: 2vh;
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  /* line-height: 1.5; */
  font-optical-sizing: auto;
  font-weight: 500 lighter;
  font-style: normal; 
  text-transform: none;
}
a{
  text-decoration: none;
  padding-bottom: 10px;
}

.App {
  background-color: black;
}

.pic-active{
  transform: translateX(-17vw);
}

/* Put media queries back here? */
@media screen and (max-width:768px) {
  body{
      overflow-x: hidden;
  }
  p {
      font-size: 16px;
      letter-spacing: 1px;
  }
}

@media screen and (max-width:475px){
  section{
      padding-top: 5vh;
  }
  section h2{
      font-size: 5vw;
  }  
  code{
      font-size: 3vh;
      letter-spacing: 0px;
  }
  p {
      font-size: 16px;
  }
}
